In [9]:
#Full data extraction from a realistic sales data 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import datetime
import random

# Simulate 60 days of sales data
customers = ["Amazon", "Walmart", "Target", "Best Buy", "Costco", "eBay"]
data=[]

#for loop to generate data
start_date = datetime.date(2025, 4, 1)
for i in range(60):
    date = start_date + datetime.timedelta(days=i)
    for _ in range(random.randint(3, 6)):
        dt = datetime.datetime.combine(date, datetime.time()) + datetime.timedelta(
            hours=random.randint(0, 23),
            minutes=random.randint(0, 59),
            seconds=random.randint(0, 59)
        )
        data.append({
            "id": random.randint(1000, 9999),
            "customers": random.choice(customers),
            "date": date.isoformat(),
            "amount": round(random.randint(100, 2000)),
            "last_updated": dt.isoformat()
        })

df = pd.DataFrame(data)
df.to_csv("sales data.csv", index=False)
df.head()


#full data extraction from a realistic sales data
df_full = pd.read_csv("sales data.csv", parse_dates=["date", "last_updated"])
print("Full Data Extraction:")
df_full.head()

#Incremental data extraction
#Simulate last data extraction date
last_extraction_date = datetime.date(2025, 4, 15)
df_incremental = df_full[df_full["last_updated"] > pd.Timestamp(last_extraction_date)]
print("\nIncremental Data Extracted (after{last_extraction_date}):")
df_incremental.head()

Full Data Extraction:

Incremental Data Extracted (after{last_extraction_date}):

      id customers       date  amount        last_updated
59  8663    Costco 2025-04-15     284 2025-04-15 04:43:03
60  6266    Target 2025-04-15    1994 2025-04-15 17:57:12
61  2229    Amazon 2025-04-15    1009 2025-04-15 07:39:57
62  1645    Costco 2025-04-15     766 2025-04-15 15:19:29
63  8877      eBay 2025-04-15     384 2025-04-15 07:00:07